/* Home */
.article-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 70vh;
}

.article-2__img {
  background: url("./img/alan_turing.jpg") no-repeat center center/cover;
  height: 25rem;
  width: 25rem;
  margin-bottom: 2rem;
}

/* About me */
.abt-art-1 {
  display: flex;
  height: 100vh;
  flex-direction: column-reverse;
  padding: 1rem;
}

.abt-art-1__me-pic {
  /* height: 30rem;
  width: 30rem; */
  margin-bottom: 1rem;
}

.abt-art-1__motto {
  text-align: center;
}

.abt-art-1__motto .bio p {
  line-height: 1.5rem;
  padding: 1rem 0;
}

.abt-art-2 form .text-fields {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #585a5888;
  border-radius: 0.4rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 100%;
}
