@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #bde2bd;
  justify-content: space-between;
  z-index: 5;
  padding: 1rem;
  height: 10vh;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar div img {
  height: 50px;
  width: 60px;
}

#navbar ul li a {
  color: #484848;
  padding: 0.75rem;
  margin: 0 0.4rem;
}

#navbar ul li a:hover,
#navbar ul li a:active {
  background: #5cb85c;
  color: #fff;
  border-radius: 10px;
}

/* Sections */

/* Section One */

#section-1 {
  display: flex;
  flex-direction: column;
  background: #ececec;
  color: #6c6c6c;
}

/* Article One */
.article-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.article-1__title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.article-1__sub-title {
  font-size: 1.5rem;
}

/* Article Two */
.article-2 {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0.25rem;
  align-items: center;
  /* max-width: 68.75rem; */
}

.article-2 div {
  flex: 1;
}

.article-2__img {
  background: url("./img/alan_turing.jpg") no-repeat center center/cover;
  height: 25rem;
  max-width: 40rem;
  padding: 1rem;
  margin-right: 0.5rem;
  border-radius: 0.4rem;
}

.article-2__content {
  text-align: center;
  max-width: 40rem;
  line-height: 1.5rem;
}

/* Section Two */
#section-2 {
  display: flex;
  background: #f8f8f8;
  color: #424242;
  padding: 1rem;
}

/* Article Three */
#section-2 {
  display: flex;
  justify-content: center;
}

.article-3 .article-3__title,
.article-3 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
}

.article-3__title h3 {
  font-size: 1.8rem;
}

.article-3 ul li {
  padding: 0.6rem;
  text-align: center;
}

.article-3 ul li p {
  line-height: 2rem;
}

.article-3 ul li:last-child {
  text-transform: uppercase;
  font-weight: bold;
}

/* Footer */

footer {
  background: #e6f0fa;
}

.text-primary {
  color: #008000;
}

.text-secondary {
  color: #0970d2;
}

footer div p {
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
}

/* About Page */

/* About Section One */

/* About Article One */

.abt-art-1 {
  display: flex;
  /* height: 50vh; */
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  /* background: #cce5cc; */
}

.abt-art-1__motto h4 {
  font-size: 2rem;
  padding-bottom: 0.7rem;
}

.abt-art-1__motto h6 {
  font-size: 1rem;
}

.abt-art-1__me-pic {
  background: url("./img/13986731641451.jpg") no-repeat center center/cover;
  height: 350px;
  width: 350px;
  border-radius: 40px;
}

.bio {
  display: flex;
  justify-content: flex-start;
  width: 300px;
}

/* About Article Two */
.abt-art-2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.abt-art-2 form .text-fields {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #585a5888;
  border-radius: 0.4rem;
  width: 30rem;
}

.abt-art-2 h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

form div label,
form div input,
form div textarea {
  padding: 0.8rem;
  border-radius: 0.2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  /* width: 10rem; */
  background: #5cb85c;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
